.barChart {
  position: relative;
}

.timeline {
  text-align: center;
  font-size: 24px;
  margin: 24px 0;
}

.container {
  width: 100%;
}

.barContainer {
  width: 100%;
  display: flex;
  position: absolute;
}

.bar {
  position: relative;
}